<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.prime.com.tr/ui" xmlns="http://www.w3.org/1999/xhtml">
<h:head>
<meta name="generator"
content="HTML Tidy for Java (vers. 2009-12-01), see jtidy.sourceforge.net" />
<title></title>
<ui:insert name="head"/></h:head>
<body>
<div class="footer-wrapper">
<div class="footer-links">
<div class="footer-links-single"><a
href="/cms/online-tee-times/register-here/"><img
src="http://redesign10.miclub.com.au/cms/wp-content/themes/pacific/images/footer-booking.jpg"
 border="0" /></a> 
<h4><a href="/cms/online-tee-times/register-here/">Club
Pacific</a></h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
id massa metus, ac euismod lorem.</p>
</div>
<div class="footer-links-single"><a
href="/cms/functions/weddings/specials-offers/"><img
src="http://redesign10.miclub.com.au/cms/wp-content/themes/pacific/images/footer-wedding.jpg"
 border="0" /></a> 
<h4><a href="/cms/functions/weddings/specials-offers/">Weddings
&amp; Functions</a></h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
id massa metus, ac euismod lorem.</p>
</div>
<div class="footer-links-single"><a
href="/cms/corporate/corporate-social-groups/"><img
src="http://redesign10.miclub.com.au/cms/wp-content/themes/pacific/images/footer-corporate.jpg"
 border="0" /></a> 
<h4><a href="/cms/corporate/corporate-social-groups/">Corporate
Groups</a></h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
id massa metus, ac euismod lorem.</p>
</div>
<div class="footer-links-single"><a
href="/cms/functions/conferences-meetings/team-building-activites/"><img
 src="http://redesign10.miclub.com.au/cms/wp-content/themes/pacific/images/footer-conference.jpg"
 border="0" /></a> 
<h4><a
href="/cms/online-tee-times/register-here/">Membership</a></h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
id massa metus, ac euismod lorem.</p>
</div>
</div>
<div class="footer">
<div class="copy1">
<p>&copy; Redesign10 2012</p>
</div>
<div class="copy3"><a href="http://www.miclub.com.au/"
target="_blank"><img
src="http://redesign10.miclub.com.au/cms/wp-content/themes/pacific/images/miclub.png"
 border="0" /></a></div>
<div id="clear"></div>
</div>
</div>
</body>
</html>
