<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.prime.com.tr/ui" xmlns="http://www.w3.org/1999/xhtml">
<h:head>
<meta name="generator"
content="HTML Tidy for Java (vers. 2009-12-01), see jtidy.sourceforge.net" />
<link href="/style/productStyle/privateClubProduct.css"
rel="stylesheet" type="text/css" />
<link href="/style/cms.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" media="all"
href="http://redesign10.miclub.com.au/cms/wp-content/themes/pacific/style.css" />
<link rel="stylesheet" type="text/css" media="all"
href="http://redesign10.miclub.com.au/cms/wp-content/themes/pacific/editor.css" /><script
 type="text/javascript" src="/scripts/miclub.js">
</script>
<!-- start /html -->
<title></title>
<ui:insert name="head"/></h:head><!-- end /html -->
<body>
<div class="wrapper2">
<div class="header">
<div class="header-main">
<h1><a href="http://redesign10.miclub.com.au/cms"><img
src="http://redesign10.miclub.com.au/cms/wp-content/themes/pacific/images/logo.png"
 border="0" /></a></h1>
<p align="right">430 Pine Mountain Road,<br />
CARINDALE QLD 4152<br />
<strong>Phone:</strong> (07) 3343 0888<br />
<strong>Email:</strong> admin@pacificgolf.com.au</p>
</div>
<div class="header-image">
<div class="header-image-main"><img
src="http://redesign10.miclub.com.au/cms/wp-content/themes/pacific/images/header1.jpg" /></div>
</div>
</div>
</div>
</body>
</html>
