<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.prime.com.tr/ui" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<h:head>
<meta name="generator"
content="HTML Tidy for Java (vers. 2009-12-01), see jtidy.sourceforge.net" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
content="width=device-width, initial-scale=1" />
<title>Gawler Golf Club &ndash; Sandy Creek</title>
<link rel="shortcut icon"
href="http://www.gawlergolf.com.au/cms/wp-content/themes/essential/favicon.ico"
 type="image/x-icon" />
<link rel="stylesheet" type="text/css" media="all"
href="http://www.gawlergolf.com.au/cms/wp-content/themes/essential/style.css" />
<link rel="stylesheet" type="text/css" media="all"
href="http://www.gawlergolf.com.au/cms/wp-content/themes/essential/media.css" /><script
 type="text/javascript"
src="http://www.gawlergolf.com.au/cms/wp-includes/js/jquery/jquery.js?ver=1.10.2">
<!--//--><![CDATA[//>
<!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//>
window.gawlerJq = jQuery.noConflict();
<!]]>
</script>
<script type="text/javascript"
src="http://www.gawlergolf.com.au/cms/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1">
<!--//--><![CDATA[//>
<!]]>
</script>
<!-- START P4P -->
<link href='http://fonts.googleapis.com/css?family=Roboto:300'
rel='stylesheet' type='text/css' />
<link type="text/css" href="/p4p/css/bootstrap.min.css"
rel="stylesheet" />
<link type="text/css"
href="/p4p/js/lib/bootstrap-datetimepicker-3.1.2/bootstrap-datetimepicker.min.css"
 rel="stylesheet" />
<link type="text/css"
href="/p4p/js/lib/chosen_v1.1.0/chosen.min.css" rel="stylesheet" />
<link type="text/css" href="/p4p/css/chosen-bootstrap.css"
rel="stylesheet" />
<link type="text/css" href="/p4p/css/classie-component.css"
rel="stylesheet" />
<link type="text/css" href="/style/p4p2.css" rel="stylesheet" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="/p4p/js/lib/html5shiv-3.7.2.min.js"></script>
    <script src="/p4p/js/lib/respond-1.4.2.min.js"></script>
    <![endif]-->
<script type="text/javascript" data-main="/p4p/js/app2"
src="/p4p/js/require-2.1.14.min.js">
<!--//--><![CDATA[//>
<!]]>
</script>
<!-- END P4P -->
<ui:insert name="head"/></h:head>
<body
class="home page page-id-4 page-template page-template-page-front-php">
<div id="wrapper">
<div id="header" class="clearfix">
<div id="header-top"><a href="http://www.gawlergolf.com.au/cms"
class="logo"><img
src="http://www.gawlergolf.com.au/cms/wp-content/themes/essential/images/logo.png"
 alt="Gawler Golf Club &ndash; Sandy Creek" /></a> 
<p class="address"><strong>Clubhouse:</strong> (08) 8524 4231<br />
 <strong>Proshop:</strong> (08) 8524 4315</p>
</div>
<div id="menu-toggle"><strong>Menu</strong></div>
<ul id="nav" class="guestsMenu">
<li id="menu-item-60"
class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item"><a
 href="http://www.gawlergolf.com.au/cms/"></a><span>Home</span></li>
<li id="menu-item-61"
class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children arIco"><a
 href="#"></a><span>Golf</span> 
<ul class="sub-menu">
<li id="menu-item-62"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/golf/visitors-and-groups/"></a><span>Visitors
and Groups</span></li>
<li id="menu-item-63"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/golf/proshop/"></a><span>Proshop</span></li>
<li id="menu-item-64"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/golf/course-gallery/"></a><span>Course
Gallery</span></li>
<li id="menu-item-65"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/golf/local-rules-etiquette-dress-regulations/"></a><span>Local
Rules / Etiquette / Dress Regulations</span></li>
</ul>
</li>
<li id="menu-item-77"
class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children arIco"><a
 href="#"></a><span>Membership</span> 
<ul class="sub-menu">
<li id="menu-item-78"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/membership/information/"></a><span>Information</span></li>
<li id="menu-item-79"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/membership/reciprocal-clubs/"></a><span>Reciprocal
Clubs</span></li>
<li id="menu-item-80"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/membership/enquiry-form/"></a><span>Enquiry
Form</span></li>
</ul>
</li>
<li id="menu-item-81"
class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children arIco"><a
 href="#"></a><span>Hospitality &amp; Events</span> 
<ul class="sub-menu">
<li id="menu-item-82"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/hospitality-events/functions/"></a><span>Functions</span></li>
<li id="menu-item-83"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/hospitality-events/gallery/"></a><span>Gallery</span></li>
<li id="menu-item-84"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/hospitality-events/enquiry-form/"></a><span>Enquiry
Form</span></li>
</ul>
</li>
<li id="menu-item-85"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/whats-on/"></a><span>Whats
On</span></li>
<li id="menu-item-86"
class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children arIco"><a
 href="#"></a><span>About Us</span> 
<ul class="sub-menu">
<li id="menu-item-87"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/about-us/contact-details/"></a><span>Contact
Details</span></li>
<li id="menu-item-88"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/about-us/location/"></a><span>Location</span></li>
<li id="menu-item-89"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="http://www.gawlergolf.com.au/cms/about-us/history/"></a><span>History</span></li>
</ul>
</li>
<li id="menu-item-102"
class="menu-item menu-item-type-post_type menu-item-object-page"><a
href="/members/"></a><span>Members Login</span></li>
</ul>
</div>
<!-- /#header -->
<div id="main" class="clearfix"><!-- /#page-content -->
<div
class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right teetime-floating-search-filters">
<div class="container-fluid">
<form role="form"><!-- Date -->
<div class="form-group">
<div class="col"><label class="label-date">Date</label></div>
<div class="col">
<div class="input-group date"><input type="text"
class="form-control" data-date-format="DD/MM/YYYY"
placeholder="DD/MM/YYYY" /> </div>
</div>
</div>
<!-- Course -->
<div class="form-group">
<div class="col"><label>Course</label></div>
<div class="col"><select class="form-control chosen-select">
<option selected="selected">All Courses</option>
<option>Course A</option>
<option>Course B</option>
<option>Super Duper Expensive Course</option>
</select></div>
</div>
<!-- Checkbox Filters -->
<div class="form-group">
<div class="col">
<div class="checkbox"><label><input type="checkbox" id="filterAll"
name="filterAll" value="1" checked="checked" /> All</label>
<label><input type="checkbox" id="filter9Holes" name="filter9Holes"
value="1" /> 9 Holes Only</label> <label><input type="checkbox"
id="filterSpecial" name="filterSpecial" value="1" /> Special
Offers</label> <label><input type="checkbox" id="filterWeekends"
name="filterWeekends" value="1" /> Weekends Only</label></div>
</div>
</div>
<div class="col"><button type="button"
class="btn btn-default btn-hide-search-filters">Cancel</button>
<button type="submit" class="btn btn-primary">Search</button></div>
</form>
</div>
</div>
<!-- /. teetime-floating-search-filters -->
<div class="modal fade" id="mdl-players" tabindex="-1"
role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<form action="/members/p4p/index.msp?page=TeeTimes#day"
class="form-horizontal" role="form"><input type="hidden"
name="courseId" value="" /> <input type="hidden" name="date"
value="" /> 
<div class="modal-body">
<h3>How Many Players?</h3>
<div class="form-group">
<div class="col-xs-12"><label class="radio-inline"><input
type="radio" name="numPlayers" id="numPlayers1" value="1" />
1</label> <label class="radio-inline"><input type="radio"
name="numPlayers" id="numPlayers2" value="2" checked="checked" />
2</label> <label class="radio-inline"><input type="radio"
name="numPlayers" id="numPlayers3" value="3" /> 3</label> <label
class="radio-inline"><input type="radio" name="numPlayers"
id="numPlayers4" value="4" /> 4</label></div>
</div>
<div class="form-group"><label for="numPlayersN"
class="col-xs-4">More? (Specify number)</label> 
<div class="col-xs-2"><input type="numPlayers"
class="col-xs-2 form-control" name="numPlayersN"
id="numPlayersN" /></div>
</div>
<h3>Cart Required?</h3>
<div class="form-group"><label class="col-xs-3"><input type="radio"
name="withCart" id="withCartYes" value="Y" checked="checked" />
Yes</label> 
<div class="col-xs-9"><label for="numCarts"
class="col-xs-4">Specify number</label> 
<div class="col-xs-2"><input type="numCarts"
class="col-xs-2 form-control" id="numCarts" name="numCarts"
value="1" /></div>
</div>
</div>
<div class="form-group"><label class="col-xs-12"><input
type="radio" name="withCart" id="withCartNo" value="N" />
No</label></div>
</div>
<div class="modal-footer"><button type="button"
class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="submit" class="btn btn-primary">Search</button></div>
</form>
</div>
</div>
</div>
<!-- /#mdl-players -->
<div class="modal" id="mdl-ajaxSpinner" tabindex="-1" role="dialog"
aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-body">
<h3>Please wait...</h3>
<div class="progress">
<div class="progress-bar progress-bar-striped active"
role="progressbar" aria-valuenow="100" aria-valuemin="0"
aria-valuemax="100" style="width: 100%;">Loading...</div>
</div>
</div>
</div>
</div>
</div>
<!-- /#ajaxSpinner -->
</div>
<!-- /#main -->
<div id="footer" class="clearfix">
<p class="copyright">&copy; 2014 Gawler Golf Club. All rights
reserved.</p>
<span>|</span> 
<p class="contactus"><a
href="/cms/about-us/contact-details/">Contact Us</a></p>
<span>|</span> 
<p class="miclub"><a href="http://www.miclub.com.au/"
target="_blank">Website by MiClub</a></p>
<span>|</span> 
<p class="webaddress">WWW.GAWLERGOLF.COM.AU</p>
</div>
<!-- /#footer -->
</div>
<!-- /#wrapper -->
<script type="text/javascript">
<!--//--><![CDATA[//>
    !(function($) {
        $(function() {
            // Gawler Golf Club's Navigation
            $('#menu-toggle strong').click(function () {
                $('#menu-toggle strong').toggleClass("toggled-on");
                $('#nav').toggleClass("toggled-on");
            });
        });
    })(window.gawlerJq);
<!]]>
</script>
</body>
</html>
