<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.prime.com.tr/ui" xmlns="http://www.w3.org/1999/xhtml">
<!-- InstanceBegin template="/Templates/PrivateClub-PopUp.dwt" codeOutsideHTMLIsLocked="false" -->
<h:head>
<meta name="generator"
content="HTML Tidy for Java (vers. 2009-12-01), see jtidy.sourceforge.net" />
<meta http-equiv="Content-Type"
content="text/html; charset=iso-8859-1" />
<!-- InstanceBeginEditable name="pageTitle" -->
<title><ui:insert name="title"/></title>
<!-- InstanceEndEditable -->
<script type="text/javascript" src="/scripts/miclub.js">
<!--//--><![CDATA[//>
<!]]>
</script>
<link href="/style/productStyle/privateClubProduct.css"
rel="stylesheet" type="text/css" />
<link href="/style/custom.css" rel="stylesheet" type="text/css" />
<style type="text/css">
/*<![CDATA[*/
<!--
body {
        margin-top: 4px;
}
-->
/*]]>*/
</style>
<ui:insert name="head"/></h:head>
<body>
<!-- InstanceBeginEditable name="Body" --><ui:insert name="content"/>
<!-- InstanceEndEditable -->
<!-- InstanceEnd -->
</body>
</html>
