/* CSS Document */
h1, h2, h3, h4, h5, h6 {
  font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #022D02;
  margin: 0 0 20px 0; }

h1 {
  font-size: 28px;
  line-height: 1.1em; }

h2 {
  font-size: 20px;
  color: #33234F;
  margin: 0 0 16px 0; }

h3 {
  font-size: 16px;
  color: #33234F;
  margin: 0 0 16px 0; }

h4, h5, h6 {
  font-size: 14px;
  margin: 0 0 16px 0;
  font-weight: bold; }

img {
  height: auto; }

p img, .aligncenter img {
  max-width: 100%; }

p {
  margin: 0 0 16px 0;
  font-size: 14px;
  font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif; }

h1 + h2, p + h2, p + h3 {
  margin-top: 30px; }

#left-column a {
  color: #436CB4;
  text-decoration: none;
  border-bottom: 1px dotted #379936; }

#login-left, #login-right a {
  color: #436CB4;
  text-decoration: none;
  border-bottom: 1px dotted #379936; }

a {
  color: #436CB4;
  text-decoration: none; }

a:hover {
  color: #324b45; }

a img {
  border: 0; }

ul {
  margin: 0 0 20px 0;
  padding: 0 0 0 24px; }

ol {
  margin: 0 0 20px 0;
  padding: 0 0 0 24px; }

li {
  margin: 0 0 10px 0;
  padding: 0 0 0 0; }

hr {
  background: #fff url(images/hrDotted.gif) 0 0 repeat-x;
  height: 1px;
  border: none;
  margin: 20px 0 36px 0;
  display: inline-block;
  clear: both;
  width: 100%; }

ul + hr, ol + hr {
  margin: 10px 0 36px 0; }

th, td {
  font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: left; }

a.go, .go a {
  position: relative;
  margin-left: 22px; }

a.go:after, .go a:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  z-index: 0;
  background: url(images/go-arrow.png) 0 0 no-repeat;
  left: -22px;
  top: 0; }

td a.go:after, td .go a:after {
  top: 0px; }

a.pdf, .pdf a {
  position: relative;
  margin-left: 22px; }

a.pdf:after, .pdf a:after {
  content: "";
  position: absolute;
  width: 13px;
  height: 16px;
  z-index: 0;
  background: url(../../../../images/pdf-small.png) 0 0 no-repeat;
  left: -20px;
  top: 1px; }

a.go + br, .go + br, a.pdf + br, .pdf + br {
  margin: 3px 0 0 0;
  display: block; }

br + .go, br + .pdf {
  display: inline-block;
  margin: 3px 0 0 22px;
  height: 19px; }

br + a.go:after, br + .go a:after {
  top: 3px; }

br + a.pdf:after, br + .pdf a:after {
  top: 3px; }

.profileIcon {
  padding: 0px 0 0px 30px;
  display: block;
  background: url(/images/Customer-icon.png) no-repeat center left;
  font-weight: bold;
  line-height: 32px; }

.pdflink {
  padding: 0px 0 0px 30px;
  display: block;
  background: url(/images/pdf-adobe.png) no-repeat center left;
  font-weight: bold;
  line-height: 32px; }

.infoIcon {
  padding: 0px 0 0px 30px;
  display: block;
  background: url(/images/infoIcon.png) no-repeat center left;
  font-weight: bold;
  line-height: 32px; }

.basicTbl {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 20px 0; }

.basicTbl th {
  padding: 4px 3px;
  color: #555;
  font-size: 13px;
  font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.7em;
  vertical-align: top; }

.basicTbl td {
  padding: 4px 3px;
  color: #555;
  font-size: 13px;
  font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.7em;
  vertical-align: top; }

.dataTbl {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0; }

.dataTbl th {
  border-bottom: 1px solid #f0edeb;
  padding: 7px 3px;
  color: #555;
  font-size: 13px;
  font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.7em;
  vertical-align: top; }

.dataTbl td {
  border-bottom: 1px solid #f0edeb;
  padding: 7px 3px;
  color: #555;
  font-size: 13px;
  font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.7em;
  vertical-align: top; }

.dataTbl tr:first-child td {
  border-top: 1px solid #f0edeb; }

.basicTbl td p, .dataTbl td p {
  margin: 0; }

.blueLink {
  color: #FFF;
  background: #2B5BA5;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: .5em;
  display: inline-block;
  font-size: 1.2em !important;
  text-align: center; }

/*-------------------------------------------------------------------------------------------*/
/*- "READ MORE" BUTTON ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.readMoreBt {
  width: 132px;
  height: 44px;
  float: right;
  margin: 40px 40px 70px 70px;
  background: #4a8002 url(images/radBut.png) 0 0 no-repeat;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0 0 3px #ccc; }

.readMoreBt:hover {
  background-image: none;
  box-shadow: 0 0 3px #999; }

.readMoreBt span {
  font-size: 18px;
  color: #fff;
  line-height: 44px;
  padding: 0 0 0 30px;
  background: url(images/whiteArrow.png) 15px 50% no-repeat; }

/*-------------------------------------------------------------------------------------------*/
/*- DEFAULT WORDPRESS STYLING ---------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.wp-caption {
  border: 1px solid #cccccc;
  text-align: center;
  background-color: #f0f0f0;
  padding: 5px 0px 10px 5px;
  margin-bottom: 10px;
  max-width: 96%; }

.wp-caption.alignleft {
  margin: 0px 10px 10px 0px; }

.wp-caption.alignright {
  margin: 0px 0px 10px 10px; }

.wp-caption img {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  max-width: 98.5%; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  padding: 0px 4px 5px;
  margin: 0px; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0px; }

.alignnone {
  margin: 5px 20px 20px 0px; }

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 20px auto; }

img.alignright, .alignright img {
  float: right;
  margin: 5px 0px 20px 20px;
  border: 1px solid #ccc;
  padding: 3px;
  background: #fff; }

img.alignleft, .alignleft img {
  float: left;
  margin: 5px 20px 20px 0px;
  border: 1px solid #ccc;
  padding: 3px;
  background: #fff; }

img.aligncenter, .aligncenter img {
  display: block;
  margin: 5px auto 20px auto;
  border: 1px solid #ccc;
  padding: 3px;
  background: #fff; }

a img.alignright {
  float: right;
  margin: 5px 0px 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0px; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0px; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*-------------------------------------------------------------------------------------------*/
/*- GENERAL LAYOUT --------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
html, body {
  background: #FAF8E8;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  margin: auto; }

.header {
  background: #fff; }

.main {
  background: #fff; }

.container {
  padding: 0 3%;
  max-width: 1440px;
  margin: 0 auto; }

.left-column {
  float: left;
  width: 28%;
  padding: 1%; }

.right-column {
  float: right;
  width: 68%;
  padding: 0 0 0 1%; }

.wp-post-image {
  margin: -4px 0 28px 0;
  max-width: 100%; }

.full-width {
  padding: 20px 2%; }

.footer {
  padding: 10px 2.040816%;
  background: #111518;
  height: 35px;
  clear: both;
  overflow: hidden; }

.footer p {
  color: #eee;
  line-height: 38px;
  font-family: "Century Gothic",Verdana,Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center; }

/* For Product */
.page-template-prodGen-php .wrapper {
  width: 980px; }

.page-template-prodGen-php .header {
  width: 100%; }

.page-template-prodGen-php .main {
  padding: 40px; }

/* Clearfix */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/*-------------------------------------------------------------------------------------------*/
/*- FRONT PAGE ------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*- HEADER ----------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.header .logo {
  float: left;
  width: 22%;
  display: block; }

.header .main-navigation {
  float: right;
  width: 78%; }

/*-------------------------------------------------------------------------------------------*/
/*- MENU ------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/* Menu Toggle */
#menu-toggle strong {
  display: none; }

/*-------------------------------------------------------------------------------------------*/
/*- SIDE NAVIGATION -------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
#sideNav, #sideNav ul, #sideNav li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

#sideNav .sub-menu li:first-child {
  border-top: 1px solid #f0edeb; }

#sideNav .sub-menu li {
  border-bottom: 1px solid #f0edeb; }

#sideNav .sub-menu a {
  display: block;
  line-height: 20px;
  padding: 8px 26px;
  background: url(images/arrowSm.png) 8px 15px no-repeat; }

#sideNav .sub-menu a:hover {
  background-color: #fbfbfa; }

#sideNav .sub-menu .current_page_item > a {
  background-color: #f7f6f5; }

#sideNav .sub-menu .sub-menu {
  padding-bottom: 10px; }

#sideNav .sub-menu .sub-menu a {
  /*padding:8px 39px;*/
  padding: 3px 26px;
  background: #fff;
  font-size: 12px; }

#sideNav .sub-menu .sub-menu li {
  border-bottom: none; }

#sideNav .sub-menu .sub-menu li:first-child a {
  padding-top: 10px; }

/*-------------------------------------------------------------------------------------------*/
/*- GOOGLE MAP ------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
#map {
  width: 100%;
  height: 350px;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 16px 0; }

#map a, #map a:hover {
  border: none; }

/*-------------------------------------------------------------------------------------------*/
/*- FORMS -----------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
textarea, input, select {
  padding: 5px;
  font-family: "Century Gothic",Verdana,Arial,Helvetica,sans-serif;
  font-size: 13px;
  color: #595959;
  border-radius: 3px; }

select {
  padding: 4px; }

input[type=text], input[type=password], textarea, select {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, -4px -4px 0 0 #f3f3f3, 4px 4px 0 0 #f3f3f3, 4px 0 0 0 #f3f3f3, 0 4px 0 0 #f3f3f3, 4px -4px 0 0 #f3f3f3, -4px 4px 0 0 #f3f3f3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

input[type=button], input[type=submit] {
  padding: 4px 8px;
  cursor: pointer;
  background: #333;
  border: none;
  color: #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2) inset;
  border: 1px solid #333; }

input[type=button]:hover, input[type=submit]:hover {
  background: #222; }

/*-------------------------------------------------------------------------------------------*/
/*- NEWS STYLES -----------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.content-wp {
  min-width: 100%; }

.post-meta {
  border-bottom: 1px dotted #ccc;
  margin: 0 0 20px 0;
  padding: 0 0 16px 0; }

.post-meta h1 {
  margin-bottom: 10px !important; }

.post-meta h1 span {
  color: #777; }

.post-meta h1 a, .post-meta h2 a {
  color: #3e6624; }

.post-data {
  font-size: 11px;
  color: #444; }

.post-data span {
  color: #999;
  margin: 0 2px; }

.post-content {
  margin: 0;
  padding: 0; }

.archive .post-content, .single .post-content {
  margin: 0 0 -16px 0;
  overflow: hidden; }

.tfe.wp-post-image {
  border: 2px solid #eee;
  float: right;
  margin: 0 0 20px 30px;
  width: 110px;
  height: auto; }

.default-img {
  padding: 2px;
  border: none; }

.read_more_link {
  display: table;
  margin-top: 1.3em; }

#back {
  border-top: 1px dotted #ccc;
  margin-top: 40px;
  padding-top: 20px; }

/* Archive Page style */
.news-item {
  padding: 38px 0 35px 0;
  border-top: 1px dotted #ccc;
  overflow: hidden; }

.nextpostslink {
  float: right; }

.previouspostslink {
  float: left; }

/* Sidebar Page style */
.sidebar-news h3 {
  margin: 0 0 16px 4px; }

.sidebar-news ul {
  margin-bottom: 36px;
  clear: both; }

.sidebar-news li {
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 10px; }

.sidebar-news ul#archive-list li {
  margin-bottom: 14px; }

.sidebar-news .date {
  font-size: 10px;
  display: block; }

#add-new {
  text-align: center;
  display: block;
  margin: 0 auto 25px auto; }

#add-new a {
  padding: 7px 11px;
  cursor: pointer;
  background: #333;
  border: none;
  color: #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2) inset;
  border: 1px solid #333;
  border-radius: 3px; }

#add-new a:hover {
  background: #333;
  text-decoration: none;
  border-color: #333 #555 #777 #555; }

/*-------------------------------------------------------------------------------------------*/
/*- GALLERY ---------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.gallery {
  width: 101%;
  margin: 35px 0 0 !important; }

.gallery .gallery-item {
  margin: 0 3% 3% 0 !important;
  width: 22% !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  position: relative; }

.gallery .gallery-item:hover {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1); }

.gallery a:hover:before {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.gallery a {
  border: none;
  position: relative;
  background: #20467b;
  display: block;
  border: 10px solid #fff; }

.gallery a:hover {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.75) inset; }

.gallery img {
  border: none !important;
  height: auto;
  width: 100%;
  vertical-align: bottom;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: #000 0 0 0; }

.gallery br {
  display: none; }

.gallery a:hover img {
  zoom: 1;
  filter: alpha(opacity=85);
  opacity: 0.85;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25) inset; }

#fancybox-title-over {
  display: none; }

/*-------------------------------------------------------------------------------------------*/
/*- CALENDAR STYLE --------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
main .eo-fullcalendar {
  clear: both; }

.ui-tooltip-content {
  line-height: 1.5em; }

#main .fc-event-time {
  display: block; }

#main .fc-event-title {
  line-height: 1.3em;
  padding: 0 0 5px 2px;
  display: block; }

#main .eo-agenda-widget ul.dates {
  padding: 0; }

#main .eo-agenda-widget li.event {
  font-size: 13px;
  opacity: 1;
  background: #f1f1f1;
  color: #656565;
  padding: 5px 0 5px 12px; }

#main .eo-agenda-widget li.event:hover {
  background: #ececec;
  color: #333; }

#main .eo-agenda-widget li.event strong {
  display: block; }

#main .widget_events .widget-title {
  display: none; }

.single-event .post-data {
  font-size: 16px;
  margin: 0; }

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: 0.4em !important; }

/*Events*/
.events-listing .eo-events {
  clear: both;
  padding: 0; }

.events-listing .eo-events li {
  clear: both;
  margin: 0 0 25px 0;
  padding: 0;
  list-style-type: none; }

.events-listing .eo-events h3 {
  margin: 0 0 7px 0;
  padding: 2px 0 0 0;
  font-size: 17px;
  line-height: 1.1em;
  text-transform: capitalize; }

.events-listing .eo-events h3 a {
  color: #333;
  font-weight: 400 !important;
  text-decoration: none; }

.events-listing .eo-events p {
  font-size: 13px;
  margin: 0 0 10px 0; }

.events-listing .eo-events .date {
  width: 55px;
  padding: 8px 0;
  margin: 2px 0 0 15px;
  background: #333;
  color: #fff;
  border: 1px solid #222;
  float: right;
  text-transform: uppercase;
  text-align: center;
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px; }

.events-listing .eo-events .day {
  font-size: 22px;
  display: block;
  font-weight: 600; }

.events-listing .eo-events .month {
  font-size: 13px; }

.events-listing .eo-events a.read-more {
  margin: 10px 0 0 0;
  font-size: 12px; }

.events-listing .eo-events a.read-more {
  background: #333;
  color: #fff;
  font-size: 11px;
  line-height: 1.3em;
  padding: 5px 8px 3px 8px;
  margin: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  width: auto;
  display: table;
  border-bottom: 0;
  text-decoration: none; }

.events-listing .eo-events i {
  font-size: 11px;
  margin: 0 5px 0 0; }

/*-------------------------------------------------------------------------------------------*/
/*-MY INFORMATION PAGE-----------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
#portal-main {
  width: 600px;
  float: left; }

#accordion {
  width: 260px;
  float: right; }

h1#welcome {
  width: 600px;
  float: left; }

#date {
  float: right;
  margin-right: 10px;
  line-height: 24px; }

#portal-main .news-item {
  padding: 30px 0 15px 0; }

#portal-main .news-item:first-child {
  padding-top: 15px;
  border-top: none; }

#portal-main .post-meta {
  border-bottom: none;
  padding-bottom: 0; }

#portal-main {
  width: 600px;
  float: left; }

#accordion {
  width: 260px;
  float: right; }

#date {
  float: right;
  margin-right: 10px;
  line-height: 24px; }

#portal-main .news-item {
  padding: 30px 0 15px 0; }

#portal-main .news-item:first-child {
  padding-top: 15px;
  border-top: none; }

.post-meta {
  border-bottom: none;
  padding-bottom: 0; }

#portal-col {
  width: 48%;
  float: left;
  margin-right: 2%; }

.portal-box {
  width: 100%;
  padding: 16px;
  background: #fff;
  overflow: hidden;
  border: 1px solid #ddd; }

.portal-prize, .portal-account, .portal-account-3rd, .portal-details-3rd {
  background: #436CB4;
  color: #fff; }

.portal-prize a, .portal-account a, .portal-account-3rd a, .portal-details-3rd a {
  color: #fff !important; }

.portal-prize h2, .portal-account h2, .portal-account-3rd h2, .portal-details-3rd h2 {
  color: #fff !important; }

.portal-box li {
  list-style: none;
  line-height: normal; }

.portal-links {
  padding-bottom: 6px;
  color: #FFF;
  height: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 0px;
  text-align: center;
  float: left;
  width: 94%;
  padding: 1%;
  margin-bottom: 10px;
  font-size: 12px;
  border: 2px solid #676766;
  text-decoration: none;
  font-weight: bold;
  background-color: #676766; }

.portal-links a, .portal-links-extra a {
  color: #fff; }

.portal-links-extra {
  padding-bottom: 6px;
  color: #FFF;
  height: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 0px;
  text-align: center;
  float: left;
  width: 94%;
  padding: 1%;
  margin-bottom: 10px;
  font-size: 12px;
  border: 2px solid #436CB4;
  text-decoration: none;
  font-weight: bold;
  background-color: #436CB4; }

/*-------------------------------------------------------------------------------------------*/
/*- PRODUCT STYLES --------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
table.portal {
  border: 1px solid #ccc;
  padding-bottom: 10px; }

table.portal th {
  background: #fff;
  padding: 12px 8px 16px 8px;
  font-family: "Century Gothic",Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #444;
  text-align: center; }

table.portal th a {
  ont-family: 'open_sansregular', Helvetica, Arial, sans-serif; }

table.portal td {
  padding: 6px;
  font-size: 13px; }

table.portal td input, table.portal td select {
  border: 1px solid #aaa; }

#flBody, #npBody {
  background: none; }

#flBody h2 {
  font-weight: normal; }

/* Login Page */
#login-left {
  float: left;
  width: 350px;
  padding: 25px 0 25px 0;
  border: none;
  margin: 0;
  background: #fff;
  border: 1px solid #ddd !important; }

#login-left label {
  width: 150px;
  float: left;
  text-align: right;
  padding: 0 15px 0 0;
  margin: 0 0 10px 0;
  font-size: 13px;
  height: 1em;
  line-height: 28px;
  font-weight: bold; }

#login-left input, #password-reminder input {
  width: 115px;
  float: left;
  margin: 0 0 10px 0;
  border: 1px solid #ddd;
  font-size: 13px;
  color: #444;
  background: #fff;
  padding: 7px; }

#login-left #submit, #password-reminder #submit {
  width: auto;
  margin: 5px 0 15px 165px;
  clear: both;
  font-size: 13px;
  color: #555;
  background: #f7f7f7;
  padding: 7px; }

#login-left p {
  margin: 0;
  text-align: center;
  font-size: 12px;
  clear: both; }

#login-right {
  float: right;
  width: 510px;
  margin: 0; }

#login-error table {
  margin: 0 auto 30px auto; }

#login-error table td {
  vertical-align: middle;
  padding: 0 5px;
  color: #fff; }

/* Password Reminder */
#password-reminder {
  width: 600px;
  margin: 0 auto; }

#password-reminder label {
  width: 45%;
  float: left;
  text-align: right;
  padding: 0 3% 0 0;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  height: 1em;
  line-height: 28px; }

#password-reminder input {
  margin: 0; }

#password-reminder #submit {
  margin: 10px 0 15px 48%; }

/*# sourceMappingURL=style.css.map */