
h1, h2, h3, h4, h5, h6 {
	font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #022D02;
	margin: 0 0 20px 0;
}
h1 {
	font-size: 28px;
	line-height: 1.1em;
}
h2 {
	font-size: 20px;
	color: #33234F;
	margin: 0 0 16px 0;
}
h3 {
	font-size: 16px;
	color: #33234F;
	margin: 0 0 16px 0;
}
h4, h5, h6 {
	font-size: 14px;
	margin: 0 0 16px 0;
	font-weight: bold;
}
img {
	height: auto;
}
p img, .aligncenter img {
	max-width: 100%;
}
p {
	margin: 0 0 16px 0;
	font-size: 14px;
	font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
}
h1+h2, p+h2, p+h3 {
	margin-top: 30px;
}
#left-column a {
	color: #436CB4;
	text-decoration: none;
	border-bottom: 1px dotted #379936;
}
#login-left, #login-right a {
	color: #436CB4;
	text-decoration: none;
	border-bottom: 1px dotted #379936;
}
a {
	color: #436CB4;
	text-decoration: none;
}
a:hover {
	color: #324b45;
}
a img {
	border: 0;
}
ul {
	margin: 0 0 20px 0;
	padding: 0 0 0 24px;
}
ol {
	margin: 0 0 20px 0;
	padding: 0 0 0 24px;
}
li {
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
}
hr {
	background: #fff url(images/hrDotted.gif) 0 0 repeat-x;
	height: 1px;
	border: none;
	margin: 20px 0 36px 0;
	display: inline-block;
	clear: both;
	width: 100%;
}
ul+hr, ol+hr {
	margin: 10px 0 36px 0;
}
th, td {
	font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
}
a.go, .go a {
	position: relative;
	margin-left: 22px;
}
a.go:after, .go a:after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	z-index: 0;
	background: url(images/go-arrow.png) 0 0 no-repeat;
	left: -22px;
	top: 0;
}
td a.go:after, td .go a:after {
	top: 0px;
}
a.go:hover, .go a:hover {
}
a.pdf, .pdf a {
	position: relative;
	margin-left: 22px;
}
a.pdf:after, .pdf a:after {
	content: "";
	position: absolute;
	width: 13px;
	height: 16px;
	z-index: 0;
	background: url(../../../../images/pdf-small.png) 0 0 no-repeat;
	left: -20px;
	top: 1px;
}
a.pdf:hover, .pdf a:hover {
}
a.go+br, .go+br, a.pdf+br, .pdf+br {
	margin: 3px 0 0 0;
	display: block;
}
br+.go, br+.pdf {
	display: inline-block;
	margin: 3px 0 0 22px;
	height: 19px;
}
br+a.go:after, br+.go a:after {
	top: 3px;
}
br+a.pdf:after, br+.pdf a:after {
	top: 3px;
}
.profileIcon {
	padding: 0px 0 0px 30px;
	display: block;
	background: url(/images/Customer-icon.png) no-repeat center left;
	font-weight: bold;
	line-height: 32px;
}
.pdflink {
	padding: 0px 0 0px 30px;
	display: block;
	background: url(/images/pdf-adobe.png) no-repeat center left;
	font-weight: bold;
	line-height: 32px;
}
.infoIcon {
	padding: 0px 0 0px 30px;
	display: block;
	background: url(/images/infoIcon.png) no-repeat center left;
	font-weight: bold;
	line-height: 32px;
}
.basicTbl {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 20px 0;
}
.basicTbl th {
	padding: 4px 3px;
	color: #555;
	font-size: 13px;
	font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.7em;
	vertical-align: top;
}
.basicTbl td {
	padding: 4px 3px;
	color: #555;
	font-size: 13px;
	font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.7em;
	vertical-align: top;
}
.dataTbl {
	width: 100%;
	border-collapse: collapse;
	margin: 30px 0;
}
.dataTbl th {
	border-bottom: 1px solid #f0edeb;
	padding: 7px 3px;
	color: #555;
	font-size: 13px;
	font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.7em;
	vertical-align: top;
}
.dataTbl td {
	border-bottom: 1px solid #f0edeb;
	padding: 7px 3px;
	color: #555;
	font-size: 13px;
	font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.7em;
	vertical-align: top;
}
.dataTbl tr:first-child td {
	border-top: 1px solid #f0edeb;
}
.basicTbl td p, .dataTbl td p {
	margin: 0;
}
.blueLink {
	color: #FFF;
	background: #2B5BA5;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: .5em;
	display: inline-block;
	font-size: 1.2em!important;
	text-align: center;
}

/*-------------------------------------------------------------------------------------------*/
/*- "READ MORE" BUTTON ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.readMoreBt {
width:132px;
height:44px;
float:right;
margin:40px 40px 70px 70px;
background:#4a8002 url(images/radBut.png) 0 0 no-repeat;
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
box-shadow:0 0 3px #ccc;
}
.readMoreBt:hover {
	background-image: none;
	box-shadow: 0 0 3px #999;
}
.readMoreBt span {
	font-size: 18px;
	color: #fff;
	line-height: 44px;
	padding: 0 0 0 30px;
	background: url(images/whiteArrow.png) 15px 50% no-repeat;
}
/*-------------------------------------------------------------------------------------------*/
/*- DEFAULT WORDPRESS STYLING ---------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.wp-caption {
	border: 1px solid #cccccc;
	text-align: center;
	background-color: #f0f0f0;
	padding: 5px 0px 10px 5px;
	margin-bottom: 10px;
	max-width: 96%;
}
.wp-caption.alignleft {
	margin: 0px 10px 10px 0px;
}
.wp-caption.alignright {
	margin: 0px 0px 10px 10px;
}
.wp-caption img {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	max-width: 98.5%;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0px 4px 5px;
	margin: 0px;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0px;
}
.alignnone {
	margin: 5px 20px 20px 0px;
}
.aligncenter, div.aligncenter {
	display: block;
	margin: 5px auto 20px auto;
}
img.alignright, .alignright img {
	float: right;
	margin: 5px 0px 20px 20px;
	border: 1px solid #ccc;
	padding: 3px;
	background: #fff;
}
img.alignleft, .alignleft img {
	float: left;
	margin: 5px 20px 20px 0px;
	border: 1px solid #ccc;
	padding: 3px;
	background: #fff;
}
img.aligncenter, .aligncenter img {
	display: block;
	margin: 5px auto 20px auto;
	border: 1px solid #ccc;
	padding: 3px;
	background: #fff;
}
a img.alignright {
	float: right;
	margin: 5px 0px 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0px;
}
a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0px;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}